"*":
  core:
    disabledPackages: [
      "background-tips"
      "linter-jshint"
      "react"
      "linter-elixirc"
      "language-haml"
      "linter-solium"
      "linter-scss-lint"
      "hyperclick"
      "linter-rubocop"
      "teletype"
    ]
    telemetryConsent: "limited"
  editor:
    invisibles: {}
    scrollPastEnd: true
  emmet: {}
  "exception-reporting":
    userId: "e530aebc-bbd5-2398-0efd-a881b18d06f1"
  "language-babel":
    disableWhenNoBabelrcFileInPath: false
  linter:
    lintOnChange: false
    lintOnOpen: false
    lintPreviewTabs: false
  "linter-elixirc":
    elixircPath: "/usr/local/bin/elixirc"
    mixPath: "/usr/local/bin/mix"
  "linter-eslint": {}
  "linter-js-standard":
    checkStyleDevDependencies: true
  "linter-jshint":
    lintInlineJavaScript: true
    lintJSXFiles: true
  "linter-rubocop":
    command: "/Users/pdionne/.rbenv/shims/rubocop"
    disableWhenNoConfigFile: true
  "linter-scss-lint":
    disableWhenNoConfigFileInPath: true
  "linter-stylelint": {}
  "linter-ui-default":
    panelHeight: 54
  "merge-conflicts":
    gitPath: "/usr/bin/git"
  minimap: {}
  "one-dark-ui": {}
  "one-light-ui": {}
  "prettier-atom":
    prettierOptions:
      semi: false
    useEslint: true
    useStylelint: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace: {}
".html.ruby.text":
  editor:
    autoIndent: false
"linter-scss-lint":
  executablePath: "/Users/pdionne/.rbenv/shims/scss-lint"
